.wrapper{
	border: 5px solid black;
    background-color: black;
    width: 1200px;
    height: auto;
    margin: auto;
}

.header{
	background-color: #FCD0B1;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 1200px;
    height: 100px;
    margin: 0px 0px 5px 0px;
    padding: 0px 0px 0px 0px;
}

.navbar {
    background-color: #E0DBC5;
    width: 1200px;
    height: 50px;
    margin: 0px 0px 5px 0px;
    padding: 0px 0px 0px 0px;
}

.content{
	display: inline-flex;
	width: 1200px;
    height: auto;
}

.content-left{
	background-color: #E1F5C8;
	width: 835px;
    height: 910px;
    margin: 0px 5px 5px 0px;
    padding: 0px 0px 0px 0px;
}

.content-right{
    background-color: #ABDEC4;
    width: 360px;
    height: 910px;
    margin: 0px 0px 5px 0px;
    padding: 0px 0px 0px 0px;
}

.footer{
	background-color: #FCD0B1;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 1200px;
    height: auto;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}